body {
  font-family: Work Sans, sans-serif;
}

header {
  background-color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  padding: calc(34 / 12.8 * 1vw) calc(50 / 12.8 * 1vw);
  align-items: center;
}

.headerNft {
  width: 100%;
  height: auto;
  padding: calc(34 / 12.8 * 1vw) calc(50 / 12.8 * 1vw);
  background-color: rgba(43, 43, 43, 1);
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
}

header > a > img {
  width: calc(243 / 12.8 * 1vw);
  height: calc(32 / 12.8 * 1vw);
}
.navNft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.navNft > a {
  display: flex;
  align-items: center;
}

.navNft > a > img {
  width: calc(243 / 12.8 * 1vw);
  height: calc(32 / 12.8 * 1vw);
}

.navbarNft {
  display: flex;
  gap: calc(10 / 12.8 * 1vw);
  align-items: center;
}

.navbarNft > a {
  display: flex;
  flex-direction: column;
  padding: calc(12 / 12.8 * 1vw) calc(20 / 12.5 * 1vw);
  color: var(--color);
  font-size: calc(16 / 12.8 * 1vw);
  font-weight: 600;
  line-height: calc(22 / 12.8 * 1vw);
  gap: calc(5 / 12.8 * 1vw);
  align-items: center;
  align-content: space-between;
  position: relative;
  color: white;
}

.navbarNft > a > span {
  position: absolute;
  align-self: center;
  transition: all 0.3s linear;
  width: calc(1 / 12.8 * 1vw);
  height: calc(0.01 / 12.8 * 1vw);
  bottom: 0;
}

.navbarNft > a:hover > span {
  width: 100%;
  height: calc(1 / 12.8 * 1vw);
  background-color: rgba(162, 89, 255, 1);
}

.navbarNft > button {
  width: calc(152 / 12.8 * 1vw);
  height: calc(60 / 12.8 * 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(162, 89, 255, 1);
  border-radius: calc(20 / 12.8 * 1vw);
  border: none;
  transition: all 0.2s linear;
}

.navbarNft > button:hover {
  background-color: rgba(43, 43, 43, 1);
  border: calc(2 / 12.8 * 1vw) solid rgba(162, 89, 255, 1);
  color: white;
  cursor: pointer;
}

.navbarNft > button > a {
  display: flex;
  gap: calc(12 / 12.8 * 1vw);
  color: white;
  align-items: center;
  font-size: calc(16 / 12.8 * 1vw);
  padding: calc(10 / 12.8 * 1vw);
}

.navbarNft > button > a > img {
  width: calc(20 / 12.8 * 1vw);
  height: calc(20 / 12.58 * 1vw);
}

.nabarDropDown {
  display: none;
}

.burgerNftInfo {
  display: none;
}

.burgerNftButton {
  background: none;
  border: none;
  transition: all 0.3s ease;
  /* display: none; */
}

.burgerNftButton:hover > img {
  transform: scale(0.95);
}
.burgerNftButton:active > img {
  transform: scale(1.08);
}

/* dorpDown modal */

.burgerNft {
  display: none;
  flex-direction: column;
  row-gap: calc(10 / 12.8 * 1vw);
  background: #474747;
  padding: calc(10 / 12.8 * 1vw);
  border-radius: calc(5 / 12.8 * 1vw);
  position: absolute;
  top: calc(100 / 12.8 * 1vw);
  right: calc(50 / 12.8 * 1vw);
}

.burgerNft > a {
  color: var(--color);
  font-size: calc(14 / 12.8 * 1vw);
  font-weight: 600;
  line-height: calc(18 / 12.8 * 1vw);
  color: white;
}
.burgerNft > a:hover {
  color: rgba(255, 255, 255, 0.719);
}

.burgerNftShow {
  display: flex;
}

@media only screen and (max-width: 834px) {
  .burgerNft {
    row-gap: calc(15 / 8.34 * 1vw);
    padding: calc(10 / 8.34 * 1vw);
    border-radius: calc(5 / 8.34 * 1vw);
    top: calc(100 / 8.34 * 1vw);
    right: calc(30 / 8.34 * 1vw);
  }

  .navbarNft {
    display: none;
  }

  .burgerNft > a {
    font-size: calc(16 / 8.34 * 1vw);
    line-height: calc(20 / 8.34 * 1vw);
  }

  .nabarDropDown {
    display: flex;
  }
}

@media only screen and (max-width: 375px) {
  header {
    padding: calc(15 / 3.75 * 1vw) calc(30 / 3.75 * 1vw);
  }

  .burgerNft > a {
    font-size: calc(16 / 8.34 * 1vw);
    line-height: calc(20 / 8.34 * 1vw);
  }

  .burgerNft {
    row-gap: calc(5 / 3.75 * 1vw);
    padding: calc(10 / 3.75 * 1vw);
    border-radius: calc(5 / 3.75 * 1vw);
    top: calc(65 / 3.75 * 1vw);
    right: calc(30 / 3.75 * 1vw);
  }

  .burgerNftButton > img {
    width: calc(24 / 3.75 * 1vw);
    height: calc(24 / 3.75 * 1vw);
  }

  .burgerNft > a {
    font-size: calc(14 / 3.75 * 1vw);
    line-height: calc(18 / 3.75 * 1vw);
  }

  header > a > img {
    width: calc(182 / 3.75 * 1vw);
    height: calc(24 / 3.75 * 1vw);
  }
}

@media only screen and (max-width: 100px) {
  .burgerNft {
    top: calc(380 / 15 * 1vw);
  }
}
